.Intro {
  display: flex;
  height: 80vh;
  margin-top: 6rem;
}

/* left side styling*/
.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}

.i-name {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  animation: right-to-left 2s linear 1.5s;
}

.i-name > :nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 3rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  animation: breathe 1s infinite 1s;
}

.i-name > :nth-child(3) {
  flex: 1;
  width: 80%;
  font-weight: bold;
  font-size: 17px;
  color: var(--gray);
  margin-top: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  animation: appear 1s linear 2s;
  animation-fill-mode: both;
}

.i-button {
  width: 8rem;
  height: 3rem;
  animation: men-in-black 1.5s linear 2.1s;
}

.i-icons > * {
  transform: scale(0.5);
  margin-top: -4rem;
}

.i-icons > *:hover {
  cursor: pointer;
}

.i-icons {
  margin-top: 3rem;
  display: flex;
  gap: 0rem;
}

.i-right {
  flex: 1;
  position: relative;
}

.i-right > * {
  position: absolute;
  z-index: 1;
}

.i-right > :nth-child(1) {
  transform: scale(0.67);
  left: -7%;
  top: -8%;
}

.i-right > :nth-child(2) {
  top: -5rem;
  transform: scale(0.68);
  left: -2rem;
}

.i-right > :nth-child(3) {
  transform: scale(1.36);
  left: 30%;
  top: 1rem;
}

.i-right > :nth-child(4) {
  transform: scale(0.6);
  top: -19%;
  left: -16%;
  border-radius: 50%;
  padding: 0;
}

.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  z-index: -8;
  top: -18%;
  left: 56%;
  filter: blur(72px);
}

@keyframes left-to-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes breathe {
  0% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes men-in-black {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes right-to-left {
  0% {
    transform: translateX(30%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  .Intro {
    flex-direction: column;
    height: 74rem;
    gap: 2rem;
  }
  .i-right {
    transform: scale(0.6);
    left: -5rem;
  }
  .i-right .blur {
    display: none;
  }
  .floating-div:nth-of-type(1) {
    top: -7rem !important;
  }
}
